body {
  margin: 0;
  background: linear-gradient(to right, rgb(156, 68, 36), rgb(56, 43, 137));
}

.container-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.daily-totals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daily-totals {
  margin-top: 100px;
  width: 35vw;
}

.daily-totals h4 {
  color: black;
}



.food-info {
  margin-top: 50px;
}

h3, h5 {
  color: black;
}

.btn {
  margin-top: 10px;
}

.progress {
  margin-bottom: 50px;
}

#navbar {
  background: rgba(0,0,0,.4);
  padding-left: 30px;
  padding-right: 30px;
}

a.nav-link {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 50px;
}

a.nav-link:hover {
color: black;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  height: 75vh;
}

.inner-profile-container {
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

form {
  text-align: center;
}

.modal-content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

label {
  font-weight: bold;
}

.btn {
  margin-right: 10px;
}

h4, h5 {
  color: white;
}







